<div class="container">
    <form action="">
        <select name="category" class="form-select">
            <% categories.forEach(category => { %>
                <option value="<%=category.id%>"><%=category.name%></option>
                <% }) %>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Aplicar</button>
    </form>
    <hr>

</div>
