<div class="container ">
    <br>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active" data-bs-interval="2000">
                <a href="/books">
                    <img src="\images\home\python.png" class="d-block w-100" alt="...">
                </a>
            </div>
            
            <div class="carousel-item" data-bs-interval="3000">
                <a href="/books">
                    <img src="\images\home\javascript.png" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <a href="/books">
                    <img src="\images\home\linguagem-c.png" class="d-block w-100" alt="...">
                </a>
            </div>
                
          
          </div>
        </div>
      </div>
</div>