<%- include('partials/header') %>
<%- include('partials/navbarUser') %>
<body>
    <br>
    <div class="container jumbotron">
        <h1 class="display-4">Seja Bem-vindo à Livraria do J!</h1>
        <p class="lead">Aqui vosê encontra os melhores livros de programação!</p>
        <hr class="my-4">
        <p>Para aproveitar todo nosso site faça sou login ou crie uma conta se ainda não tiver</p>
        <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="/create" role="button">Criar conta</a>
      </div>

      
</body>

<%- include('partials/footer') %>
