@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');

.login-page{
    position:absolute; 
    top:40%;
    left:50%;
    transform: translate(-50%, -50%)
}

.space{
    margin: 0 15px;
}

a.linkBook{
    text-decoration: none;
}

a.linkBook:hover{
    text-decoration: underline;
}

div.card{
    display: inline-block;
    margin-right: 15px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: solid 1px gray
}

img.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p.price{
    float: right;
    font-family: 'Simonetta', cursive;
    color: rgb(42, 163, 42);
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}