.login-page{
    position:absolute; 
    top:40%;
    left:50%;
    transform: translate(-50%, -50%)
}

.space{
    margin: 0 15px;
}

a.linkBook{
    text-decoration: none;
}

a.linkBook:hover{
    text-decoration: underline;
}